<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行情 {{commodity}}</title>
</head>
<body>
    <span>{{commodity}} &ensp;&ensp;</span>
    <a href="javascript:getKline('{{commodity}}','min5')">5分</a>
    <a href="javascript:getKline('{{commodity}}','min15')">15分</a>
    <a href="javascript:getKline('{{commodity}}','min30')">30分</a>
    <a href="javascript:getKline('{{commodity}}','hour')">时</a>
    <a href="javascript:getKline('{{commodity}}','day')">日</a>
    <a href="javascript:getKline('{{commodity}}','week')">周</a>
    <a href="javascript:getKline('{{commodity}}','month')">月</a>
    <div id="kline-chart" style="width:100%; height:500px"></div>
    <!--<h3>行情数据</h3>-->
    <!--{% for data in datas %}-->
        <!--{{data.time}}, {{data.open}}-->
        <!--<br>-->
    <!--{% endfor %}-->

<script src="/static/vendor/jquery/jquery.js"></script>
<script src="/static/vendor/echarts/echarts.min.js"></script>
<script>

var api_host = '{{rootPath}}/touzi/';

getKline('{{commodity}}', 'day');

//获取k线数据
function getKline(commodity, cycle) {
    $.getJSON(api_host + 'kline/' + commodity + '/' + cycle,
        function(json){
            displayKlineChart(json);
        }
    );
}

//展示k线图
function displayKlineChart(rawData) {
    //基础颜色设定
    var colors = {
        backgroundColor: '#21202D',//背景颜色
        yangColor: '#21202D',//阳线颜色(与背景色相同)
        yangBorderColor: '#FD1050',//阳线边框颜色
        yinColor: '#0CF49B',//阴线颜色
        yinBorderColor: '#0CF49B',//阴线边框颜色
        pingColor: '#EEEEEE',//平线颜色
        pingBorderColor: '#EEEEEE'//平线边框颜色
    };

    //时间数据
    var time = rawData.map(function (item) {
        return item[0];
    });
    //k线数据
    var barData = rawData.map(function (item) {
        return [+item[1], +item[2], +item[3], +item[4]]
        ;
    });
    //收盘价数据
    var closeData = rawData.map(function(item) {
        return item[2]
    });
    //成交量数据
    var amountData = rawData.map(function(item) {
        return item[5]
    });
    //成交量数据(用于画线)
    var amountSeriesData = rawData.map(function(item) {
        open = item[1];
        close = item[2];
        var color, borderColor;
        //成交量颜色
        if (close > open) {
            color = colors.yangColor;
            borderColor = colors.yangBorderColor;
        } else if (close < open) {
            color = colors.yinColor;
            borderColor = colors.yinBorderColor;
        } else {
            color = colors.pingColor;
            borderColor = colors.pingBorderColor;
        }
        return {
            value: item[5],
            itemStyle: {
                normal: {
                    color: color,
                    borderColor: borderColor
                }
            }
        }
    });

    var option = {
        backgroundColor: colors.backgroundColor,
        legend: {
            data: ['K线', 'ma5', 'ma10', 'ma30', 'ma60'],
            inactiveColor: '#777',
            textStyle: {
                color: '#fff'
            }
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false,
                type: 'cross',
                lineStyle: {
                    color: '#FFFFFF',
//                    width: 2,
                    opacity: 1
                }
            }
        },
        axisPointer: {
            link: {xAxisIndex: 'all'},
            label: {
                backgroundColor: '#777'
            }
        },
        grid: [{
            bottom: '30%' //上方grid
        },{
            top: '70%' //下方grid
        }],
        xAxis: [{
            type: 'category',
            data: time, //横轴时间
            axisLine: { lineStyle: { color: '#FFFFFF' } },
            splitLine: { show: false},
        },{
            gridIndex: 1,
            type: 'category',
            data: time, //横轴时间
            show: false,
            splitLine: { show: false},
        }],
        yAxis: [{
            scale: true,
            axisLine: { lineStyle: { color: '#FFFFFF' } },
            splitLine: { show: false },
            position: 'right'
        },{
            gridIndex: 1,
            scale: true,
            axisLine: { lineStyle: { color: '#FFFFFF' } },
            splitLine: { show: false },
            position: 'right'
        }],
        dataZoom: [{
            type: 'slider',
            xAxisIndex: [0, 1],
            textStyle: {
                color: '#8392A5'
            },
            handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
            handleSize: '80%',
            dataBackground: {
                areaStyle: {
                    color: '#8392A5'
                },
                lineStyle: {
                    opacity: 0.8,
                    color: '#8392A5'
                }
            },
            handleStyle: {
                color: '#fff',
                shadowBlur: 3,
                shadowColor: 'rgba(0, 0, 0, 0.6)',
                shadowOffsetX: 2,
                shadowOffsetY: 2
            },
        },{
            type: 'inside',
            xAxisIndex: [0, 1],
        }],
        animation: false,
        series: [
            {
                type: 'candlestick',
                name: 'K线',
                data: barData,
                itemStyle: {
                    normal: {
                        color: colors.yangColor,
                        color0: colors.yinColor,
                        borderColor: colors.yangBorderColor,
                        borderColor0: colors.yinBorderColor
                    }
                }
            },{
                name: 'ma5',
                type: 'line',
                data: calculateMA(5, closeData),
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        color: '#FFFFFF',
                        width: 1
                    }
                }
            },{
                name: 'ma10',
                type: 'line',
                data: calculateMA(10, closeData),
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        color: '#ffff01',
                        width: 1
                    }
                }
            },{
                name: 'ma30',
                type: 'line',
                data: calculateMA(30, closeData),
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        color: '#ff29fe',
                        width: 1
                    }
                }
            },{
                name: 'ma60',
                type: 'line',
                data: calculateMA(60, closeData),
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        color: '#3a86ff',
                        width: 1
                    }
                }
            },{
                name: '成交量(amt)',
                type: 'bar',
                data: amountSeriesData,
                xAxisIndex: 1,
                yAxisIndex: 1,
            },{
                name: '成交量ma5',
                type: 'line',
                data: calculateMA(5, amountData),
                lineStyle: {
                    normal: {
                        color: '#FFFFFF',
                        width: 1,
                    }
                },
                xAxisIndex: 1,
                yAxisIndex: 1,
            },{
                name: '成交量ma10',
                type: 'line',
                data: calculateMA(10, amountData),
                lineStyle: {
                    normal: {
                        color: '#ffff01',
                        width: 1,
                    }
                },
                xAxisIndex: 1,
                yAxisIndex: 1,
            }
        ]
    };
    var myChart = echarts.init(document.getElementById('kline-chart'));
    myChart.setOption(option);
}

//计算均线
//daCount: 多少单位的均线
//data: 源数组
//返回：均线数组
function calculateMA(dayCount, data) {
    var result = [];
    for (var i = 0, len = data.length; i < len; i++) {
        if (i < dayCount) {
            result.push('-');
            continue;
        }
        var sum = 0;
        for (var j = 0; j < dayCount; j++) {
//            sum += data[i - j][1];
            sum += data[i - j];
        }
        var ma = (sum / dayCount).toFixed(2);//保留小数位数
        result.push(ma);
    }
    return result;
}

</script>
</body>
</html>